div {
   background-color:#FF3E75;
   margin:50px;
}
.one{
    color:white;
     font-size:40px;
}   
#two{
    color:black;
    font-size:20;
}
#three{
    color:black;
    font-size:20;
}
#four{
    color:black;
    font-size:20;
}
#five{
    color:black;
    font-size:20;
}
}